 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1456px;
}

.u-section-1 .u-image-1 {
  width: 222px;
  height: 296px;
  margin: 31px auto 0 31px;
}

.u-section-1 .u-image-2 {
  width: 221px;
  height: 296px;
  margin: -296px auto 0 284px;
}

.u-section-1 .u-image-3 {
  width: 222px;
  height: 296px;
  margin: -296px 382px 0 auto;
}

.u-section-1 .u-image-4 {
  width: 320px;
  height: 231px;
  margin: -296px 31px 0 auto;
}

.u-section-1 .u-rotation-parent-1 {
  width: 320px;
  height: 445px;
  margin: 31px 31px 0 auto;
}

.u-section-1 .u-image-5 {
  width: 445px;
  height: 320px;
}

.u-section-1 .u-image-6 {
  width: 293px;
  height: 391px;
  margin: -381px auto 0 31px;
}

.u-section-1 .u-rotation-parent-2 {
  width: 402px;
  height: 302px;
  margin: -391px auto 0 355px;
}

.u-section-1 .u-image-7 {
  width: 402px;
  height: 302px;
  object-position: 100% 50%;
}

.u-section-1 .u-image-8 {
  width: 403px;
  height: 291px;
  margin: 31px auto 0 355px;
}

.u-section-1 .u-rotation-parent-3 {
  width: 320px;
  height: 648px;
  margin: -212px 31px 0 auto;
}

.u-section-1 .u-image-9 {
  width: 648px;
  height: 320px;
}

.u-section-1 .u-rotation-parent-4 {
  width: 293px;
  height: 220px;
  margin: -638px auto 0 31px;
}

.u-section-1 .u-image-10 {
  width: 220px;
  height: 293px;
}

.u-section-1 .u-rotation-parent-5 {
  width: 403px;
  height: 405px;
  margin: 13px auto 0 355px;
}

.u-section-1 .u-image-11 {
  width: 405px;
  height: 403px;
}

.u-section-1 .u-rotation-parent-6 {
  width: 293px;
  height: 386px;
  margin: -386px auto 39px 31px;
}

.u-section-1 .u-image-12 {
  width: 386px;
  height: 293px;
  object-position: 25.06% 50%;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-3 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 284px;
  }

  .u-section-1 .u-rotation-parent-1 {
    margin-top: -454px;
  }

  .u-section-1 .u-image-5 {
    width: 570px;
    height: 428px;
    margin: -203px -19px 60px auto;
  }

  .u-section-1 .u-rotation-parent-2 {
    height: 301px;
  }

  .u-section-1 .u-image-7 {
    margin: -187px 77px 60px auto;
  }

  .u-section-1 .u-image-8 {
    margin-top: 14px;
  }

  .u-section-1 .u-rotation-parent-3 {
    margin-top: -675px;
  }

  .u-section-1 .u-image-10 {
    width: 570px;
    height: 428px;
    margin: 0 172px 60px auto;
  }

  .u-section-1 .u-rotation-parent-5 {
    margin-top: -497px;
  }

  .u-section-1 .u-rotation-parent-6 {
    margin-top: -540px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-4 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 284px;
  }

  .u-section-1 .u-rotation-parent-1 {
    margin-top: -770px;
  }

  .u-section-1 .u-rotation-parent-2 {
    margin-left: 318px;
  }

  .u-section-1 .u-image-10 {
    margin-right: 150px;
  }

  .u-section-1 .u-rotation-parent-5 {
    margin-left: 317px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-5 {
    width: 540px;
    height: 405px;
    margin-right: 0;
  }

  .u-section-1 .u-image-6 {
    margin-top: 20px;
    margin-left: 284px;
  }

  .u-section-1 .u-rotation-parent-2 {
    margin-left: 138px;
  }

  .u-section-1 .u-image-7 {
    margin-right: 0;
  }

  .u-section-1 .u-image-8 {
    margin-top: 20px;
    margin-left: 284px;
  }

  .u-section-1 .u-image-10 {
    width: 540px;
    height: 405px;
    margin-right: 0;
  }

  .u-section-1 .u-rotation-parent-5 {
    margin-left: 137px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1238px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 20px;
    margin-left: 31px;
  }

  .u-section-1 .u-image-3 {
    margin-left: 31px;
  }

  .u-section-1 .u-image-4 {
    margin-left: 31px;
  }

  .u-section-1 .u-rotation-parent-1 {
    margin-right: 20px;
  }

  .u-section-1 .u-image-5 {
    width: 340px;
    height: 255px;
  }

  .u-section-1 .u-image-6 {
    margin-top: -210px;
    margin-left: 47px;
  }

  .u-section-1 .u-rotation-parent-2 {
    width: 340px;
    height: 255px;
    margin-left: 0;
  }

  .u-section-1 .u-image-8 {
    width: 340px;
    height: 246px;
    margin-left: 47px;
  }

  .u-section-1 .u-rotation-parent-3 {
    margin-top: -310px;
    margin-right: 20px;
  }

  .u-section-1 .u-rotation-parent-4 {
    margin-top: -441px;
  }

  .u-section-1 .u-image-10 {
    width: 340px;
    height: 255px;
  }

  .u-section-1 .u-rotation-parent-5 {
    width: 340px;
    height: 279px;
    margin-top: -141px;
    margin-left: 0;
  }

  .u-section-1 .u-image-11 {
    width: 342px;
    height: 340px;
  }

  .u-section-1 .u-rotation-parent-6 {
    margin-top: -335px;
  }
}